<div class="col-md-12" style="background-color:white">
  <div class="container" style="height:200px">
    content<br/>
  </div>

</div>
<div class="col-md-12 bluebg  padd1 boxtopshadow">
  <div class="container">
    information
  </div>
</div>
<div class="col-md-12" style="height:200px">
  <div class="container">
    detailed content
  </div>
</div>
