 <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                കരിയര്‍ അനലിസ്റ്റ്
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li><a href="#">നഴ്സിങ്ങ് </a></li>
                <li><a href="#">മാനേജ്മെന്റ്</a></li>
                <li><a href="#">ആക്ച്ചുറിയല്‍ സയന്‍സ്</a></li>
                <li><a href="#">ഫിസിക്കല്‍ സയന്‍സ്</a></li>
                <li><a href="#">ട്രാവല്‍ & ടൂറിസം</a></li>
                <li><a href="#">ഡിസൈന്‍</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                വിജഞാപനങ്ങള്‍
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li><a href="#"> വിജഞാപനങ്ങള്‍ 1</a></li>
                <li> <a href="#">വിജഞാപനങ്ങള്‍ 2</a></li>
                <li><a href="#">വിജഞാപനങ്ങള്‍ 3</a></li>
                <li><a href="#">വിജഞാപനങ്ങള്‍ 4</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                ഇന്‍വെസ്റ്റിഗേറ്റര്‍
              </a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li><a href="#">കോളജുകള്‍</a></li>
                <li><a href="#">കോഴ്സ്സുകള്‍</a></li>
                <li><a href="#">ഐ.ടി.ഐകള്‍</a></li>
                <li><a href="#">പോളിടെക്നിക്കുകള്‍</a></li>
                <li><a href="#">വിദ്യാഭ്യാസലോണ്‍</a></li>
                <li><a href="#">വിദേശവിദ്യാഭ്യാസം</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                പ്രവേശന പരീക്ഷകള്‍
              </a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>പ്രവേശന പരീക്ഷകള്‍ engg</li>
                <li>പ്രവേശന പരീക്ഷകള്‍ medi</li>
                <li>പ്രവേശന പരീക്ഷകള്‍ cat</li>
                <li>പ്രവേശന പരീക്ഷകള്‍ gate</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
