<div class="container iconsspace">
    <ul class="nav navbar-nav navbar-left">
      <li class="rightlborder"><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-film"></span></a></li>
    </ul>
</div>
