 <div class="col-md-3 col-sm-6 leftblueborder">
          <ul type="none">
            <li><a href="#">ആദ്യതാള്‍</a></li>
            <li><a href="#">ഞങ്ങള്‍</a></li>
            <li><a href="#">പതിവുചോദ്യങ്ങള്‍</a></li>
	   <li><a href="#">പോര്‍ട്ടല്‍ ഭൂപടം</a></li>
	   <li><a href="#">അന്വേഷണം</a></li>
	   
          </ul>
      </div><!--/.col-md-3-->
      <div class="col-md-3 col-sm-6 leftblueborder">
          <ul type="none">
            <li><a href="#">കോഴ്സ് ഫൈന്‍ഡര്‍</a></li>
            <li><a href="#">ഭാവിമാപിനി</a></li>
            <li><a href="#">ബന്ധപ്പെടാം</a></li>
          </ul>
      </div><!--/.col-md-3-->
      <div class="col-md-3 col-sm-6 leftblueborder">
          <ul type="none">
            <li><a href="#">സര്‍വ്വകലാശാലകള്‍</a></li>
            <li><a href="#">കോളജുകള്‍</a></li>
            <li><a href="#">കോഴ്സ്സുകള്‍</a></li>
          </ul>
      </div><!--/.col-md-3-->
      <div class="col-md-3 col-sm-6 rightblueborder leftblueborder ">
          <ul type="none">
            <li><a href="#">ന്യൂസ് ലെറ്റര്‍</a></li>
            <li><a href="#">കരിയര്‍ ഇന്‍വെസ്റ്റിഗേറ്റര്‍</a></li>
            <li><a href="#">കരിയര്‍ അനലിസ്റ്റ്</a></li>
          </ul>
      </div><!--/.col-md-3-->
