<div class="col-md-12" style="FONT-FAMILY: Meera;padding:1%;border:1px solid #62acf8;border-radius:5px"><center>
  <table style="FONT-FAMILY: Meera;text-align:center;">
    <tbody>
      <tr>
        <td><img src="/system/cms/files/files/000/000/001/original/logo_bm.gif" alt="bm" />
	    </td>
      </tr>
      <tr>
         <td>
           ഭാവിമാപിനി
	    </td>       
      </tr>
      <tr>
        <td>
          അഭിരുചിനിര്‍ണ്ണയപരമ്പര
        </td>
      </tr>
    </tbody>
  </table></center>
</div>
