
.leftblueborder {
    border-left:1px solid #4882C6;
    padding:2%;
}
.rightblueborder {
    border-right:1px solid #4882C6;
}
.topblueborder {
    border-top:1px solid #4882C6;
    padding:2%;
}
.leftblueborder li a{
    color:white !important;
}
.toplborder{
    border-top:1px solid #C3CCD7;
}
.bluebg{
    color:#ffffff !important;
    background: #3575B9;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0D53B4), color-stop(100%, #3575B9));
    background: -webkit-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
    background: -moz-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
    background: -ms-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
    background-image: -ms-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
    background: -o-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
    background: linear-gradient(to right, #0D53B4 0%, #3575B9 100%);
       }
.bluegb li{
    color:white !important;
}
.bluehover{
    li{
        color: #ffffff !important;
        border-right: 1px solid #0D53B4 !important;
    }
    li a:focus,
    li a:hover {
            color: #ffffff !important; 
            text-decoration: none;
            background-color: #0D53B4 !important; 
    }
    li .active{
            background-color: none !important; 
        }
}
html,body {
    font-face : Meera;
    height:100%;
    margin:0;
    font:normal 1em Meera;
}
.iconsspace{
    ul{
        border-right:1px solid #C3CCD7;
    }
    ul li{
        border-left: 1px solid #C3CCD7 !important;
    }
    ul li span{
        padding:0px 10px 0 10px;
    }}
.boxtopshadow{
    box-shadow:inset 0px 4px 9px rgba(0,0,0,.6);    
}
.padd2
{
    padding:2%;
}
.padd1{
    padding:1%;
}
.user ul li a{
    display:inline !important;
}
.btn-pos {
    float:none !important;
    padding:0px 5px !important;    
}

.col-sm-4 img{
height: 50px;
}
@font-face {
    font-family: 'Meera';
    src: url(/app/assets/fonts/Meera.eot);
    src: url(/app/assets/fonts/Meera.eot?#iefix) format('embedded-opentype'),
	local('Meera'),
         url(/app/assets/fonts/Meera.woff) format('woff'),
         url(/app/assets/fonts/Meera.ttf) format('truetype'),
         url(/app/assets/fonts/Meera.sfd#oswaldbook) format('svg');
    font-weight: normal;
    font-style: normal;
}
.panel-heading{
background-color:white !important;
border-width: 0px 0px 1px;
border-style: solid !important;
border-color: #F2F2F2 !important;}
