.navbar-inverse{
background: #3575B9;
background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0D53B4), color-stop(100%, #3575B9));
background: -webkit-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
background: -moz-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
background: -ms-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
background-image: -ms-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
background: -o-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
background: linear-gradient(to right, #0D53B4 0%, #3575B9 100%);
}
.leftblueborder {
    border-left:1px solid #4882C6;
    padding:2%;
}
.rightblueborder {
    border-right:1px solid #4882C6;
}
.topblueborder {
    border-top:1px solid #4882C6;
    padding:2%;
}
.bluebg{
    background: #3575B9;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0D53B4), color-stop(100%, #3575B9));
    background: -webkit-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
    background: -moz-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
    background: -ms-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
    background-image: -ms-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
    background: -o-linear-gradient(left, #0D53B4 0%, #3575B9 100%);
    background: linear-gradient(to right, #0D53B4 0%, #3575B9 100%);
       }
