<div class="col-md-12 toplborder" style="padding:0">
  <div class="container iconsspace">
    <ul class="nav navbar-nav navbar-left">
      <li class="rightlborder"><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-film"></span></a></li>
    </ul>
  </div>
</div>
<div class="col-md-12 bluebg boxtopshadow" style="color:white">
  <div class="container page-footer">
    <div class="row">
      <div class="col-md-3 col-sm-6 leftblueborder">
          <ul type="none">
            <li><a href="#">links</a></li>
            <li><a href="#">links</a></li>
            <li><a href="#">links</a></li>
          </ul>
      </div><!--/.col-md-3-->
      <div class="col-md-3 col-sm-6 leftblueborder">
          <ul type="none">
            <li><a href="#">links</a></li>
            <li><a href="#">links</a></li>
            <li><a href="#">links</a></li>
          </ul>
      </div><!--/.col-md-3-->
      <div class="col-md-3 col-sm-6 leftblueborder">
          <ul type="none">
            <li><a href="#">links</a></li>
            <li><a href="#">links</a></li>
            <li><a href="#">links</a></li>
          </ul>
      </div><!--/.col-md-3-->
      <div class="col-md-3 col-sm-6 rightblueborder leftblueborder ">
          <ul type="none">
            <li><a href="#">links</a></li>
            <li><a href="#">links</a></li>
            <li><a href="#">links</a></li>
          </ul>
      </div><!--/.col-md-3-->
    </div>
  </div>

  <div class="col-md-12 bluebg topblueborder">
    <div class="container">
      <div class="col-md-6"
        <p>Copyright &copy; Arividam India. All rights reserved.</p>
      </div>
      <div class="col-md-6">
        <p>Privacy policy | Legal Agreement </p>
      </div>
    </div>
  </div>
</div>
